
.code_display_dual_wrapper, .code_display_dual_cp_wrapper{
    border-bottom: solid 1px grey;
    padding-bottom: 20px;
    margin: 20px 0;
    clear: both;
}

.code_display_dual_wrapper .raw-snippet, .code_display_dual_cp_wrapper .raw-snippet{
    display: block;
    width: 45%;
    float: left;
}

.code_display_dual_wrapper .raw-snippet{
    overflow-x: scroll;
}


.code_display_dual_wrapper .rendered-snippet, .code_display_dual_cp_wrapper .rendered-snippet{
    margin-left: 20px;
    display: block;
    width: 45%;
    float: left;
    border-left: 1px solid grey;
    padding-left: 15px;

}

.code_display_dual_header p, .code_display_dual_cp_header p{
    margin: 5px 0px 0px 0px;
    font-size: 12px;
    font-style: italic;
}


.code_display_dual_header, .code_display_dual_cp_header{
    color: #ffffff;
    background-color: #808080;
    margin-bottom: 15px;
    padding: 7px;
}


.code_display_dual_header h3, .code_display_dual_cp_header h3{
    margin: 0px;

}

.code_display_dual_wrapper .clear-fix, .code_display_dual_cp_wrapper .clear-fix{
    clear: both;
}